h1 {
    display: flex;
    justify-content: center;
}

.grid {
    display: flex;
}

.column {
    margin: 0;
}

.row {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    margin: 0;
}
