h1 {
    display: flex;
    justify-content: center;
}

.container {
    padding-left: 500px;
}

button {
    margin-left: 170px;
    margin-bottom: 20px;
}
.grid {
    display: flex;
    flex: 1;
    height: 500px;
    width: 500px;
    justify-content: center;

    
}

.column {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
   

}

.row {
    border: 1px solid orange;
    margin: 0;
    flex: 1;
   


    

}

.hover {
    background-color: black;
}